stages:
  - test
  - release

variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  UV_CACHE_DIR: "$CI_PROJECT_DIR/.cache/uv"
  PYIMAGE: "3.14"

.rules_mrs_and_protected:
  - if: $CI_PIPELINE_SOURCE == "schedule"
    when: never
  - if: $CI_COMMIT_BRANCH && $CI_COMMIT_REF_PROTECTED == "true"
  - if: $CI_COMMIT_TAG && $CI_COMMIT_REF_PROTECTED == "true"
  - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

.dev_dependency_job: &dev_dependency_job
  image: "registry.gitlab.com/thelabnyc/python:${PYIMAGE}"
  before_script:
    # Install dependencies
    - uv sync
  cache:
    key: devdependencies-${PYIMAGE}
    paths:
      - .cache/pip/
      - .cache/uv/
      - .venv/

include:
  - component: gitlab.com/thelabnyc/thelab-ci-components/review@0.6.0
  - component: gitlab.com/thelabnyc/thelab-ci-components/precommit@0.5.1
    rules:
      - if: $CI_PIPELINE_SOURCE == "schedule"
        when: never
      - if: $CI_COMMIT_BRANCH && $CI_COMMIT_REF_PROTECTED == "true"
      - if: $CI_COMMIT_TAG && $CI_COMMIT_REF_PROTECTED == "true"
      - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
  - component: gitlab.com/thelabnyc/thelab-ci-components/publish-gitlab-release@0.5.1
  - component: gitlab.com/thelabnyc/thelab-ci-components/publish-to-pypi@0.5.1
    inputs:
      image: "registry.gitlab.com/thelabnyc/python:${PYIMAGE}"

test:lib:
  <<: *dev_dependency_job
  rules:
    - !reference [.rules_mrs_and_protected]
  stage: test
  needs: []
  parallel:
    matrix:
      - PYIMAGE: "3.12"
        TOX_SKIP_ENV: "^(?!py312)"
      - PYIMAGE: "3.13"
        TOX_SKIP_ENV: "^(?!py313)"
      - PYIMAGE: "3.14"
        TOX_SKIP_ENV: "^(?!py314)"
  script:
    - uv run tox
  coverage: '/^TOTAL.+?(\d+\%)$/'
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
